fastapi
uvicorn[standard]
streamlit
python-dotenv
pydantic
pydantic-settings
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-chroma
langchain-huggingface
sentence-transformers
langgraph
chromadb
faiss-cpu
pypdf
reportlab
openai
